/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

/* Estilos para smartphones */
@media only screen and (min-width: 320px) {
  /* Estilos específicos para smartphones */
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) {
  /* Estilos específicos para tablets */
}

/* Estilos para desktops comuns */
@media only screen and (min-width: 1024px) {
  /* Estilos específicos para desktops comuns */
}

/* Estilos para desktops grandes/monitores */
@media only screen and (min-width: 1280px) {
  /* Estilos específicos para desktops grandes/monitores */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #444;
  padding: 0.5rem;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

main {
  padding: 2rem;
}




